.cert__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.ornamen {
    content: '';
    display: block;
    width: 65%;
    height: 2px;
    margin: 0.5em auto 1em;
    background: rgb(255, 90, 90);
    opacity: 0.70;
}

.cert__tile {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.cert__list {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
}

.cert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100em;
    margin-top: 0;
}

.cert__desc {
    text-align: center;
}

.cert img {
    height: 3.5em;
    width: 3.5em;
    margin-right: 1em;
}

.cert__name {
    font-size: var(--fs-body);
    margin: 0.2em;
    color: rgb(255, 90, 90);
}

.cert__body {
    font-size: var(--fs-body);
    margin: 0;
    max-width: 13em;
}

@media (max-width: 800px) {
    .cert__list {
        flex-direction: column;
    }
    .cert {
        margin-bottom: 1em;
        width: 20em;
    }
}